* {
    margin: 0;
    padding: 0;
}

html {
    background: #1e1a20;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.column p {
    text-transform: capitalize;
    text-align: center;
}

.section {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.section .clickable {
    cursor: pointer;
}

.section .clickable:hover {
    color: #d68585;
}

section:nth-child(odd) {
    justify-content: flex-end;
}

.toast {
    visibility: visible;
    max-width: 50%;
    margin: 0 auto;
    background-color: #5a7f55;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 30px;
    bottom: 30px;
    font-size: 17px;
    opacity: 0.9;
    transition: opacity 0.5s ease;
}

* {
    font-family: monospace !important;
}